.block_wrapper {
  text-align: center;
  border: 1px solid rgba(217, 217, 217, 0.66);
  padding: 30px 25px;
}

.four_block-img {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.four_block_title {
  color: #f3b01b;
}
